	body {
		font-family: Helvetica, Arial;
	}

	#grid {
		background: #e0e0e0;
		margin: 20px;
		position: relative;
border: 1px solid red;
box-sizing: border-box;
	}

	textarea {
		margin: 20px;
	}

	#grid span {
		background: #999;
		height: 16px;
		width: 16px;
		margin-left: -8px;
		margin-bottom: -8px;
		position: absolute;
		display: block;
		cursor: pointer;

	}

.marker {
position: absolute;
background: red;
}

.marker.vertical {
height: 100%;
width: 1px;
top: 0;
}

.marker.horizontal {
width: 100%;
height: 1px;
top: 0;
}
