#rune-panels {
    position: fixed;
    left: 0;
    top: $uh;
    bottom: 0;
    box-sizing: border-box;
    width: $u * 20;
    background: $lightGreyShade;
    & > div {
        width: auto;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: visible;

        &.collapsed {
            width: 0;
            .panel {
                display: none;
            }
        }
        .collapse-tab {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: $u4;
            width: $uh;
            position: absolute;
            top: 50%;
            margin-top: -$u2;
            left: -$uh;
            border-radius: $hu 0 0 $hu;
            z-index: 9999;
            background: $cream-dark;
            svg {
                width: $ttu;
                height: $ttu;
                transform: rotate(90deg);
            }
            &:hover {
                background: $sky;
            }
        }
    }
}

.panel {
    height: auto; //$u * 16;
    width: 100%;
    background: $dark;

    &.ui-draggable-dragging {
        z-index: 9999;
    }

    .handle {
        cursor: pointer;
        color: white;
        width: 100%;
        padding: $hu;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:active {
            background: $sky-dark;
        }
    }
    .toggle {
        float: right;
    }
    .pane-group {
        display: flex;
    }
    .pane {
        h3 {
            margin: 0;
        }
        padding: $hu;
        background: $cream-dark;
        color: white;
        box-sizing: border-box;
    }
    .flex-group {
        display: flex;
        align-items: center;
    }
}

.panel-content {
    padding: $hu;

    textarea {
        max-width: 100%;
        height: $u * 20;
    }
}
