.editable,
.editable-highlight {
    background: white;
    padding: $hu;
    margin: 0;
    border-radius: 0;

    &:focus {
        outline: none;
        background: rgba($cream, 0.4);
    }

    &.path {
        border-left: 4px solid $sky;
    }

    &.point {
        border-left: 4px solid $rust;
    }
}

.editable {
    position: relative;
    background: none;
}

.editable-container {
    position: relative;
}

.editable-highlight {
    position: absolute;
    left: 0;
    top: 0;
    color: pink;
    border-left: 4px solid white;
    display: none;
}

.paths {
}
