.sheet {
    display: flex;
    justify-content: space-between;
	cursor: pointer;
	background: $cream-dark;
	// border-bottom: 1px solid white;
	margin-bottom: 1px;
    color: white;
	width: 100%;
	height: $u2;
	font-size: 13px;
	padding: 0 $qu 0 $hu;
	line-height: $u2;
	box-sizing: border-box;
    &.active {
        background: $sky;
    }
    .sheet {
	    &:before {
    	    // content: '↳ ';
        	// font-size: 10px;
    	}
    }
    &:hover {
        background: lighten($cream-dark, 10);
    }
}