.tablet {
    padding: $hu;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    background: white;
    border: 1px solid red;
    position: absolute;
    left: 50px;
    top: 50px;
    svg {
        position: absolute;
        background: none;
    }
}
