.panel {
	position: fixed;
	left: $bu;
	top: $bu8;
	height: $bu * 16;
	width: $panel-width;
	background: #f4f4f4;
	border: 1px solid #aaa;
	@extend .shadow;
	&.ui-draggable-dragging {
		z-index: 9999;
	}
	h3 {

	}
	.panel-content {
		padding: $bu;
	}
	.handle {
		background: red;
		width: 100%;
		height: $bu2;
	}
}