<footer class="site-footer">
	<p> This is the site footer </p>
</footer>


<!-- bower:js -->

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/mustache/mustache.min.js"></script>
<script src="/bower_components/mustache-wax/mustache-wax.min.js"></script>
<script src="/bower_components/paper/dist/paper-full.min.js"></script>

<!-- endbower -->

{% javascript main %}
{% javascript util %}

{% if page.controller %}
	{% capture controller %}page_controllers/{{ page.controller}}{% endcapture %}
	{{ controller | javascript }}
 {% endif %}


<!-- <script src="/scripts/controllers/{{ page.controller }}.js"></script> -->