.switch,
.button {
	width: $uh;
	height: $uh;
	// border: 1px solid red;
	cursor: pointer;
	border-radius: 2px;
	background: #666;
	text-align: center;
	display: inline-block;
	color: white;
	font-size: $u;
	line-height: $uh;
	box-sizing: border-box;
	font-family: 'Courier New';
    margin: 2px;
	&:hover {
		border-color: $cream;
	}
	&.on {
		background: $rust;
	}
}

.button {
	min-width: $uh;
	width: auto;
}

.sheet {
    // height: $u2;
    background: $cream;
    .sheet {
        background: darken($cream, 20);
        // background: $sky;
        margin-left: $hu;
        &:before {
            content: '↳ | ';
            font-size: 10px;
        }
        &.active {
            background: $sky;
        }
    }
    margin: 0 0 $qu 0;
    &.active {
        background: $field;
    }
}