.switch,
.button {
	width: $uh;
	height: $uh;
    margin-top: $hu;
	// border: 1px solid red;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	color: white;
	font-size: $u;
	line-height: $uh;
	box-sizing: border-box;
	font-family: 'Courier New';
    svg {
        width: $u;
        height: $u;
        fill: white;
    }
    &:hover {
        border-color: $cream;
    }
    &.on {
        svg {
            fill: $field;
        }
    }
}

.button-group {
    display: flex;
    // border: 1px solid red;
    margin-top: $hu;
    .button,
    .switch {
        margin: 0;
    }
}

.path .path {
    margin-left: $qu;
    border-left: 3px solid $field;
}