.switch,
.button {
	width: $uh;
	height: $uh;
    margin-top: $qu;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	color: white;
	font-size: $u;
	line-height: $uh;
	box-sizing: border-box;
	font-family: 'Courier New';
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: $u;
        height: $u;
        fill: white;
    }
    &:hover {
        svg {
            fill: $rust;
        }
    }
    &.on {
        svg {
            fill: $field;
        }
    }
}

.button-group {
    display: flex;
    // border: 1px solid red;
    margin-top: $qu;
    .button,
    .switch {
        margin: 0;
    }
}

.path {
    .sheet {
        border-left: $u solid $field;
    }
    .path {
        .sheet{
            border-left: $u solid $rust;
        }
    }
}

.header {
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: $hu;
    margin-bottom: $u;
    * {
        margin: 0;
    }
}