button {
	padding: $hu $u;
	border: none;
	border-radius: 2px;
    cursor: pointer;
    &:hover {
        background: white;
        color: black;
    }
}

label {
	display: block;
}

input,
textarea {
    box-sizing: border-box;
	padding: $hu;
	margin: $hu 0;
	border: 1px solid $sky;
    font-family: $primary-font;
    color: white;
    display: inline-block;
    background: $sky-dark;
}

input {
    border-radius: 2px;
}