button {
	padding: $hu $u;
	border: none;
	border-radius: 2px;
    cursor: pointer;
    &:hover {
        background: white;
        color: black;
    }
}

label {
	display: block;
    color: black;
    padding: 0 $hu;
    background: $sky;
}

input,
textarea {
    box-sizing: border-box;
    box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.2);
	padding: $hu;
	margin: $hu 0;
	border: 2px solid $sky;
    font-family: $primary-font;
    color: white;
    display: inline-block;
    background: lighten($sky-dark, 5);
    width: 100%;
    font-size: $qqqpu;
}

input[type="number"] {
    max-width: $u6;
}

input {
    border-radius: 2px;
}