.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);

    .dialogue {
        min-width: 30%;
        min-height: 30%;
        border: 1px solid $sky;
        padding: $bu;
        background: #fff;
        textarea {
            width: 100%;
            min-height: $bu6;
        }
    }
}
