header {
	position: fixed;
	left: 0;
	top: 0;
    right: 0;
    padding: $bu;
    background: #f4f4f4;
	strong{
		display: inline-block;
		line-height: 1.8em;
		margin-right: $bu;
		font-size: 2rem;
	}
}