$panel-width: 20%;

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
}

.logo {
	border-radius: $qbu;
	width: $buh;
	z-index: 9999;
	margin: $hbu 0 0 $hbu;
	padding: $hbu;
	background: $field;
	position: fixed;
}

#rune-panels {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid teal;
    background: #f4f4f4;
    width: $panel-width;
    overflow-y: scroll;
}

#rune-canvas-panel {
	width: 100 - $panel-width;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	
	// margin-top:
}
