.panel {
	// position: fixed;
	// left: $bu;
	// top: $bu8;
	height: auto;//$bu * 16;
	width: 100%;
	background: #f4f4f4;
    border-bottom: 1px solid black;
	&.ui-draggable-dragging {
		z-index: 9999;
	}
	.panel-content {
		// padding: $bu;
		font-size: 14px;
	}
	.handle {
        cursor: pointer;
		background: #d4d4d4;
		width: 100%;
		height: $bu2;
		font-weight: bold;
		font-size: 12px;
		padding: 0 $hbu;
		line-height: $bu2;
		box-sizing: border-box;
        &:active {
            background: red;
        }
	}
	.toggle {
		float: right;
	}
}