button {
	padding: $hbu $bu;
	border: none;
	border-radius: 2px;
    cursor: pointer;
    &:hover {
        background: white;
        color: black;
    }
}

label {
	display: block;
}

input {
	padding: $hbu;
    border-radius: $qbu;
	margin: $hbu 0;
	border: 1px solid #e4e4e4;
}