$toolbar-width: $bu10;
$panel-width: $bu * 14;

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
}

#main {
	#rune-toolbar {
		position: fixed;
		left: $bu;
		top: $bu8;
		height: $bu * 16;
		width: $toolbar-width;
		background: #e0e0e0;
		padding: $bu;
		h4 {
			margin: $hbu 0 $bu 0;
		}
		.tools {
			@extend .cf;
			margin-bottom: $bu;
			.tool {
				float: left;
				width: $bu4 - 2px;;
				height: $bu4 - 2px;
				text-align: center;
				line-height: $bu4;
				font-weight: bold;
				background: white;
				margin: 1px;
				box-sizing: border-box;
				cursor: pointer;
				&:hover {
					background: $lighter-teal;
				}
				&.active {
					background: $light-teal;
				}
			}
		}

	}

	#rune-board {
		background: white;
		position: fixed;
		top: $bu3;
		width: 360px;
		height: 360px;
		left: $toolbar-width + $bu2 + 1;
		z-index: 0;
	}

	// #rune-tablet {
	// 	position: fixed;
	// 	bottom: 0;
	// 	left: $toolbar-width  + $bu2 + 1;
	// 	right: 0;
	// 	height: $bu8;
	// 	background: #ccc;
	// 	z-index: 1;
	// 	padding: $bu;
	// 	border-top: 1px solid #aaa;
	// 	ul {
	// 		margin: 0;
	// 		li {
	// 			width: $bu5;
	// 			height: $bu5;
	// 			background: red;
	// 			float: left;
	// 			margin-right: $hbu;
	// 		}
	// 	}
	// }

	#rune-panels {
	}

}