$primary-font: 'Open Sans', sans-serif;

body {
	font-family: $primary-font;
	font-weight: 400;
}

h1 {
	font-size: 60px;
	text-align: center;
}

h5 {
	margin: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}