#rune-panels {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    width: auto;
    max-width: 25%;
    & > div {
        width: auto;
        height: 100%;
        box-sizing: border-box;
        padding: $qu;
        overflow-y: auto;
        overflow-x: visible;
        background: $neutral-grey-dark;
        border-left: $hu solid $cream-dark;
        &:hover {
            // border-color: $sky;
        }
        &.collapsed {
            width: 0;
            .panel { display: none;}
        }
        .collapse-tab {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: $u4;
            width: $uh;
            position: absolute;
            top: 50%;
            margin-top: -$u2;
            left: -$uh;
            border-radius: $hu 0 0 $hu;
            z-index: 9999;
            background: $cream-dark;
            svg {
                width: $ttu;
                height: $ttu;
                transform: rotate(90deg);
            }
            &:hover {
                background: $sky;
            }
        }
    }
}

.panel {
    height: auto;//$u * 16;
    width: 100%;
    font-size: 13px;
    margin-bottom: $qu;
    background: $sky-dark;
    border-radius: $hu;
    border-bottom: 1px solid black;
    &.ui-draggable-dragging {
        z-index: 9999;
    }
    .panel-content {
        padding: $qu;
    }
    .handle {
        cursor: pointer;
        color: white;
        // background: #d4d4d4;
        width: 100%;
        height: $u2;
        padding: 0 $hu;
        line-height: $u2;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        &:active {
            background: red;
        }
    }
    .toggle {
        float: right;
    }
    .pane-group {
        display: flex;
    }
    .pane {
        padding: $u;
        background: $cream-dark;
        color: white;
        box-sizing: border-box;
    }
    .flex-group {
        display: flex;
        align-items: center;
        // flex-align: row no-wrap;
    }
}

.rune-previews {
    display: flex;
    flex-wrap: wrap;
    .rune-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $sky;
        padding: $qu;
        cursor: pointer;
        margin: 0 $qu $qu 0;
        width: $u3;
        height: $u3;
        border: 2px solid $sky;
        .button {
            margin: 0;
        }
        &.active {
            border-color: $glow;//lighten($sky, 20);
        }
        svg {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.coord {
    margin-bottom: $hu;
    font-size: $qqqpu;
    & > span {
       margin-bottom: 2px;
       display: inline-block;
       padding: $qu $hu;
       background: $sky-dark;
       border-radius: 2px;
    }
    em {
        color: $field;
        font-size: $pu;
        font-style: normal;
    }
}