$panel-width: 20%;

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
}

.logo {
	// border-radius: $qu;
    position: fixed;
    z-index: 9999;
    // display: flex;
    // height: $u3;
    height: auto;
    text-direction: ttb;
    // font-size: 13px;
    padding: $hu;
    img {
       width: $uh;
	   margin: 0;
	   padding: $qu;
	   background: black;
       display: block;
	}
}

#rune-panels {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: $hu;
    box-sizing: border-box;
    width: $panel-width;
    overflow-y: scroll;
}

#rune-canvas-panel {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	// margin-top:
}

#rune-tabs {
    position: fixed;
    background: #f4f4f4;
    bottom: 0;
    left: 0;
    right: $panel-width;
    height: $u10;
    .panel {
        width: $panel-width * 2;
        height: 100%;
        overflow-y: scroll;
    }
}