.panel {
	// position: fixed;
	// left: $u;
	// top: $u8;
	height: auto;//$u * 16;
	width: 100%;
	margin-bottom: $hu;
	background: $sky-dark;
	border-radius: $hu;
    border-bottom: 1px solid black;
	&.ui-draggable-dragging {
		z-index: 9999;
	}
	.panel-content {
		font-size: 14px;
		padding: $qu;
	}
	.handle {
        cursor: pointer;
        color: white;
		// background: #d4d4d4;
		width: 100%;
		height: $u2;
		font-weight: bold;
		font-size: 12px;
		padding: 0 $hu;
		line-height: $u2;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
        &:active {
            background: red;
        }
	}
	.toggle {
		float: right;
	}
	.pane-group {
		display: flex;
	}
    .pane {
        padding: $u;
        background: $cream-dark;
        color: white;
        box-sizing: border-box;
    }
    .pane-half {
    	width: 50%;
    }
    .pane .pane.pane-half {
    	padding: 0;
    	padding-left: 0 $qu;
    	background: none;
    	&:first-child {
    		padding-left: 0;
    		padding-right: $qu;
    	}
    }
}