header {

	background: #f4f4f4;
	padding: $hbu $bu;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: $bu3;
	box-sizing: border-box;

	strong{
		line-height: 1.8em;
	}

	ul {
		margin: 0;
		display: inline-block;
		li {
			display: inline-block;
			a {

			}
		}
	}

	#rune-actionbar {
		float: right;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
			}
		}
	}
}