$toolbar-width: $bu10;


#main {

	#rune-toolbar {
		position: fixed;
		left: 0;
		bottom: 0;
		top: $bu3;
		width: $toolbar-width;
		background: #e0e0e0;
		padding: $bu;
		h4 {
			margin: $hbu 0 $bu 0;
		}
		.tools {
			@extend .cf;
			margin-bottom: $bu;
			.tool {
				float: left;
				width: $bu4 - 2px;;
				height: $bu4 - 2px;
				text-align: center;
				line-height: $bu4;
				font-weight: bold;
				background: white;
				margin: 1px;
				box-sizing: border-box;
				cursor: pointer;
				&:hover {
					background: $lighter-teal;
				}
				&.active {
					background: $light-teal;
				}
			}
		}

	}

	#rune-canvas {
		background: white;
		position: fixed;
		top: $bu3;
		right: 0;
		bottom: 0;
		left: $toolbar-width;
		border: 1px solid #ccc;
	}

	#rune-tablet {
		position: fixed;
		bottom: 0;
		left: $toolbar-width;
		right: 0;
		height: $bu4;
		background: #ccc
	}

}