#rune-actionbar {
	display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			padding-right: $bu;
			a {
				font-size: 14px;
				cursor: pointer;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
}