.panel {
	position: fixed;
	left: $bu;
	top: $bu8;
	height: $bu * 16;
	width: $panel-width;
	background: #f4f4f4;
	&.ui-draggable-dragging {
		z-index: 9999;
	}
	.panel-content {
		padding: $bu;
		font-size: 12px;
	}
	.handle {
		background: #d4d4d4;
		width: 100%;
		height: $bu3;
		font-weight: bold;
		font-size: 12px;
		padding: $qbu $hbu;
		line-height: $bu3;
		box-sizing: border-box;
	}
}

.tool {
    display: inline-block;
    margin: 0 $hbu $hbu 0;
    padding: $hbu;
    text-align: center;
    box-sizing: border-box;
    width: $bu2;
    height: $bu2;
    line-height: $bu;
    border-radius: $qbu;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    background: white;
    &:hover {
        background: #f4f4f4;
    }
}