// Colors:

$cream: #ece5d4;
$rust: #e13d1c;
$field: #14bb5b;
$sky: #27dded;
$glow: #f1f417;

$cream-dark: #3b3935;
$sky-dark: #42494a;
$dark: $cream-dark;

$neutral-grey-dark: #222;
$lightGrey: #e0e0e0;
$lightGreyShade: #cccccc;
